// COLORS

$primary-violet: hsl(257, 40%, 49%);
$magenta: hsl(300, 69%, 71%);
$white: #fff;

// TYPOGRAPHY

$heading-font:'Poppins', sans-serif;
$body-font: 'Open Sans', sans-serif;

// FONT-SIZES

$font-sm: 1rem;
$font-md: 1.125rem;
$font-xlg: 3rem;

// FONT-WEIGHT

$light:400;
$bold:600;

// BREAKPOINTS

$tablet:768px;
$desktop: 1024px;