* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 40px;
  font-size: 100%;
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background-color: #674baf;
  background-image: url(../../images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top;
  line-height: 1.8; }

@media (min-width: 768px) {
  body {
    background-image: url(../../images/bg-desktop.svg);
    background-size: cover;
    padding: 0; } }

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.6; }

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem; } }

.container {
  max-width: 1280px;
  margin: 0 auto; }

p {
  margin: 1.5625rem 0; }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

.fab {
  color: #fff;
  font-size: 20px; }

.btn {
  display: inline-block;
  background: #fff;
  color: #674baf;
  font-size: 1.125rem;
  padding: .8rem 4.6875rem;
  text-decoration: none;
  border-radius: 2rem;
  transition: all 150ms ease-in-out;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; }

@media (min-width: 768px) {
  .btn {
    padding: .8rem 4.0625rem; } }

.btn:hover {
  background: #e882e8;
  color: #fff; }

header {
  margin-bottom: 2.2rem; }

@media (min-width: 768px) {
  header {
    margin-bottom: 6.6rem;
    margin-top: 4rem; } }

header .huddle-logo {
  max-width: 7.5rem; }

@media (min-width: 768px) {
  header .huddle-logo {
    max-width: 12.5rem; } }

.hero {
  color: #fff;
  text-align: center; }

@media (min-width: 768px) {
  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.75rem;
    max-width: 1280px;
    margin: 0 auto; } }

@media (min-width: 768px) {
  .hero__content {
    text-align: left; } }

.hero__content p {
  font-size: 1.125rem; }

.hero__pic img {
  max-width: 100%;
  height: auto; }

.social-list {
  display: flex;
  align-items: center;
  justify-content: center; }

@media (min-width: 768px) {
  .social-list {
    justify-content: flex-end; } }

.social-list .social-link:not(:last-child) {
  margin-right: 1rem; }

.social-list .social-link a {
  padding: 8px;
  border-radius: 50%;
  display: flex;
  border: 1px solid #fff; }

.social-list .social-link span {
  transition: all 150ms ease-in-out; }

.social-list .social-link span:hover {
  color: #e882e8;
  border-color: #e882e8; }
